@import "@arcgis/core/assets/esri/themes/dark/main.css";

body.calcite-mode-dark {
  --calcite-color-foreground-1: #0e1615 !important;
  --calcite-button-background-color: #1d2e24 !important;
  --calcite-panel-background-color: #0e1615 !important;
  --calcite-color-brand: #7d958b !important;
  --calcite-color-focus: #7d958b !important;
  --calcite-color-text-3: #7d958b !important;
  --calcite-color-text-2: #7d958b !important;
  --calcite-color-text-1: #7d958b !important;
}

.esri-ui {
  --calcite-color-brand: #1d2e24;
  --calcite-color-brand-hover: #456c55;
  --calcite-color-brand-press: #1d2e24;
}
calcite-block {
  margin: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-widget {
  background-color: #0c1614;
  color: #7d958b;
}

.button,
.esri-time-slider,
.esri-time-slider__slider,
.esri-time-slider__row,
.esri-slider__content {
  background-color: #0d1a1568;
}

.button {
  background-color: #0d1a1568;
}

.esri-time-slider__slider .esri-slider {
  background-color: #0d1a1500;
}

.esri-widget--button {
  background-color: #0d1a1568;
}

input {
  margin: 1rem 0;
}

#main-div {
  display: flex;
  height: 100vh;
}

#scene-div {
  flex: 1;
}

#dashboard {
  flex: 1;
  padding: 1.5rem;
  font-weight: 36;
  text-align: center;
  max-width: 30rem;
}

#dashboard-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-bottom: 2rem;
}

#weather-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-bottom: 2rem;
}

#column-assignment {
  block-size: auto !important;
}

.esri-daylight__container {
  display: none;
}

#slidesDiv {
  max-height: 50vh;
}

#time-controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

arcgis-time-slider {
  width: 69.5vw;
}

calcite-accordion-item {
  max-height: 50vh;
  overflow-y: auto;
}

.esri-popup__main-container {
  max-width: unset !important;
  min-width: unset !important;
}

.esri-popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .list-item-slide {
//   margin: 5px 0px 5px 10px;
//   width: 80px;
//   height: 45px;
//   background-size: cover;
//   background-image: var(--bg-image);
// }

// .scene-shell {
//   padding-bottom: 16px;
// }

#confirm {
  --calcite-color-foreground-1: var(--calcite-color-status-success);
  --calcite-color-foreground-2: var(--calcite-color-status-success-hover);
  --calcite-color-foreground-3: var(--calcite-color-status-success-press);
  --calcite-ui-icon-color: var(--calcite-color-text-inverse);
}
