@import "@arcgis/core/assets/esri/themes/dark/main.css";

.calcite-mode-dark {
  --calcite-color-foreground-1: #192a27 !important;
  --calcite-color-foreground-2: #192a27 !important;
  --calcite-color-foreground-3: #192a27 !important;
  --calcite-color-foreground-current: #23dbb6 !important;
  --calcite-color-background: #233935 !important;
  --calcite-action-background-color-press: #090e0d !important;
  --calcite-button-background-color: #090e0d !important;
  --calcite-button-text-color: rgb(174, 216, 204) !important;
  --calcite-panel-background-color: rgb(35, 57, 53) !important;
  --calcite-action-background-color: #233935 !important;
  --calcite-color-brand-press: #090e0d;
  --calcite-color-brand-hover: #090e0d;
  --calcite-color-brand: #233935;
  --calcite-color-brand: #4d6f66 !important;
  --calcite-color-border-input: #4d6f66 !important;
  --calcite-action-text-color: #aed8cc !important;
  --calcite-action-text-color-press: #090e0d !important;
  --calcite-ui-icon-color: #aed8cc !important;
  --calcite-icon-color: #aed8cc !important;
  --calcite-color-border-3: #4d6f66 !important;
  --calcite-color-border-2: #4d6f66 !important;
  --calcite-color-border-1: #4d6f66 !important;
  --calcite-color-text-3: #aed8cc !important;
  --calcite-color-text-2: #aed8cc !important;
  --calcite-color-text-1: #aed8cc !important;
  --calcite-color-focus: #4d6f66 !important;
  --calcite-color-text-link: #aed8cc !important;
  --calcite-color-status-info-press: #090e0d !important;
  --calcite-color-status-info-hover: #090e0d !important;
  --calcite-color-status-info: #aed8cc !important;
  --calcite-slider-track-fill-color: #aed8cc !important;
  --calcite-tab-accent-color-press: #aed8cc !important;
  --calcite-border-width-sm: 2px;
  --calcite-font-weight-light: 400;
  --calcite-font-weight-normal: 500;
  --calcite-font-weight-medium: 600;
  --calcite-font-weight-bold: 700;
}

.esri-widget {
  --calcite-color-brand-hover: #aed8cc;
  font-weight: 500;
}

// p {
//   font-weight: 500;
// }

calcite-block {
  margin: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #192a27;
  color: #aed8cc;
  // text-shadow: #aed8cc 0 0 1.5px;
  // font-weight: 900;
}

// calcite-icon {
//   filter: drop-shadow(0 0 1.5px #aed8cc) !important;
// }

// svg {
//   filter: drop-shadow(0 0 1.5px #aed8cc) !important;
// }

b {
  font-weight: 900;
}

.esri-widget {
  background-color: #192a27;
  color: #aed8cc;
}
.esri-widget__heading {
  color: #aed8cc;
  font-weight: 500;
}

.button,
.esri-time-slider,
.esri-time-slider__slider,
.esri-time-slider__row,
.esri-slider__content {
  background-color: #192a276e;
}

.button {
  background-color: #192a27 !important;
  color: #aed8cc !important;
}

.esri-time-slider__slider .esri-slider {
  background-color: #0d1a1500;
}

.esri-time-slider__time-extent {
  color: #aed8cc !important;
}

.esri-slider__track {
  background-color: #4d6f66;
}

.esri-time-slider__mode--time-window .esri-slider__segment-1 {
  background-color: #aed8cc;
}

.esri-widget--button {
  background-color: #0d1a1500 !important;
  color: #aed8cc !important;
}

.esri-elevation-profile-legend-item {
  background-color: #090e0d !important;
}

.esri-basemap-gallery__item--selected,
.esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover,
.esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
  background-color: #090e0d;
  border-color: #090e0d;
}

.esri-basemap-gallery__item.esri-basemap-gallery__item:hover {
  background-color: #090e0d;
  border-color: #090e0d;
}

.esri-color-slider .esri-slider .esri-slider__thumb {
  background-color: #192a27;
  border: none;
  border-radius: 0;
  /* width: 6px; */
  height: 12px;
  top: -6px;
  left: -12px;
}

arcgis-chart {
  height: 20rem;
}
.esri-elevation-profile {
  --chart-height: 20rem;
}

.esri-elevation-profile-legend-item__content {
  display: block;
}

.filters-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0 0 3rem;
}

.filter-container {
  flex: 1;
}

.layer-label {
  margin: auto;
  padding-top: 1rem;
}

.layer-label span {
  font-weight: 800;
}

.legend-label-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding-left: 0.5rem;
}

// .legend-label-container > calcite-label {
//   max-width: 10rem;
// }

#generalize-legend {
  background-color: rgba(84, 17, 17, 0.75);
  max-width: 100px;
  min-width: 50px;
  height: 10px;
  border-radius: 10rem;
  padding-right: 1rem;
}

input {
  margin: 1rem 0;
}

b {
  font-weight: bolder;
}

input[type="file"]::file-selector-button {
  border: 0 solid #000000;
  padding: 0.5em 0.5em;
  border-radius: 0;
  background-color: #090e0d;
  color: #aed8cc;
}

// input[type="file"]::file-selector-button:hover {
//   background-color: #81ecec;
//   border: 2px solid #00cec9;
// }

calcite-segmented-control-item[checked] {
  --calcite-segmented-control-background-color: #aed8cc;
  --calcite-segmented-control-icon-color: #233935;
  --calcite-segmented-control-color: #233935;
}

#main-div {
  display: flex;
  height: 100vh;
}

#scene-wrapper {
  flex: 1;
  position: relative; /* required for absolute children */
  overflow: hidden;
}

#scene-div {
  width: 100%;
  height: 100%;
}

#time-slider {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  z-index: 1;
}

#gauges-container {
  position: absolute;
  top: 1rem;
  bottom: 10rem;
  left: 1rem;
  right: 1rem;
  z-index: 3;
  pointer-events: none;
}

#gauges-container canvas {
  position: absolute;
  z-index: 1;
}

#speedGauge {
  bottom: 0;
  left: 0;
}

#headingGauge {
  top: 0;
  right: 0;
}

#altitudeGauge {
  bottom: 0;
  right: 0;
}

#camera-side {
  position: absolute;
  pointer-events: auto;
  z-index: 1;
  font-size: 50px;
  font-weight: 800;
  // top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  --calcite-segmented-control-border-color: #f0ffff00;
}

#time-dashboard {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  font-weight: 800;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: #192a27 0 0 10px;
}

#play-animation {
  position: absolute;
  z-index: 3;
  bottom: 3rem;
  left: 45%;
  transform: translateX(-45%);
  pointer-events: auto;
}

// #scene-div {
//   flex: 1;
// }

#dashboard {
  flex: 1;
  padding: 0.5rem;
  font-weight: 36;
  text-align: center;
  max-width: 40rem;
  background-color: #192a27;
  --calcite-panel-background-color: #192a27;
}

#dashboard-single-vis {
  display: none;
}

#dashboard-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-bottom: 2rem;
  padding: 1.5rem;
}

#dashboard-info p {
  padding: 0;
  margin: 0;
}

calcite-tab {
  padding: 1.5rem;
}

#color-scale-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3px;
  overflow-x: clip;
  padding-bottom: 3rem;
}

.esri-color-slider .esri-slider .esri-slider__min {
  padding: 0;
  margin: 3px auto;
  pointer-events: none;
}

.esri-color-slider .esri-slider .esri-slider__max {
  padding: 0;
  margin: 3px auto;
  pointer-events: none;
}

#legend-primary {
  display: none;
}

#legend-secondary {
  display: none;
}

.two-col-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 0.2rem;
}

// #weather-tiles-container {
//   display: grid;
//   grid-template-columns: auto auto;
//   gap: 10px;
// }

#weather-symbology-container {
  display: none;
  // display: grid;
  // grid-template-columns: auto auto;
  // gap: 10px;
  // padding: 1rem;
  // background-color: #090e0d;
}

#column-assignment {
  block-size: auto !important;
}

.esri-daylight__container {
  display: none;
}

#slidesDiv {
  max-height: 50vh;
}

// #time-controls {
//   display: flex;
//   gap: 1rem;
//   top: 0;
//   // margin-top: 1rem;
// }

#animation-playrate {
  position: absolute;
  z-index: 1;
  top: 0.1rem;
  right: 0;
  // width: 10rem;
  --calcite-select-border-color: rgba(0, 0, 0, 0);
  --calcite-segmented-control-background-color: rgba(0, 0, 0, 0);
  --calcite-combobox-input-border-color: rgba(0, 0, 0, 0);
  --calcite-combobox-input-background-color: rgba(0, 0, 0, 0);
}

#play-group-animation {
  position: absolute;
  z-index: 1;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
}

#timezone-picker {
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 0.1rem;
  left: 0;
  --calcite-combobox-input-border-color: rgba(0, 0, 0, 0);
  --calcite-combobox-input-background-color: rgba(0, 0, 0, 0);
}

calcite-accordion-item {
  max-height: 50vh;
  overflow-y: auto;
}

.esri-popup__main-container {
  max-width: unset !important;
  min-width: unset !important;
}

.esri-popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bar-chart {
  display: none;
}
#set-time-chart {
  display: none;
}

#confirm {
  --calcite-color-foreground-1: var(--calcite-color-status-success);
  --calcite-color-foreground-2: var(--calcite-color-status-success-hover);
  --calcite-color-foreground-3: var(--calcite-color-status-success-press);
  --calcite-ui-icon-color: var(--calcite-color-text-inverse);
}

.esri-slider__thumb {
  box-sizing: border-box;
  z-index: 1;
  touch-action: none;
  // background-color: #17bd27;
  // border: 2px solid #551f1f;
  border-radius: 16px;
  width: 16px;
  height: 16px;
}

.esri-time-slider__play {
  display: none !important;
}

.esri-time-slider__previous {
  display: none !important;
}

.esri-time-slider__next {
  display: none !important;
}

calcite-tab-title {
  font-weight: 600;
}

#bird-list {
  max-height: 75vh;
  overflow-y: auto;
  padding: 1rem 3rem;
}

#bird-list calcite-list-item {
  // --calcite-list-background-color: #090e0d;
  --calcite-list-background-color-hover: #090e0d;
  // --calcite-list-border-color: #192a27;
}

#bird-list calcite-action {
  // --calcite-list-background-color: #090e0d;
  // --calcite-list-border-color: #192a27;
  --calcite-action-background-color: #192a27;
  --calcite-action-background-color-hover: #090e0d;
}

#edit-time-button {
  right: 35%;
  transform: translateX(35%);
  position: absolute;
  z-index: 1;
  top: 0.1rem;
}

#popover-time {
  padding: 1rem;
}

[id$="-handle-1"] .esri-slider__thumb {
  border-color: #aed8cc !important;
  background-color: #233935 !important;
}

[id$="-handle-0"] .esri-slider__thumb {
  border-color: #aed8cc !important;
  background-color: #233935 !important;
}

.bird-mode [id$="-handle-0"] {
  display: none;
}

.bird-mode [id$="-handle-1"] .esri-slider__thumb {
  background-color: #00000000 !important;
  border-color: #00000000 !important;
}

.bird-mode arcgis-time-slider [id$="-handle-1"] .esri-slider__thumb::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(-1);
  width: 38px;
  height: 38px;

  background-image: url("/public/birdIcon3.svg"); /* adjust path as needed */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-color: transparent !important;
  border-color: transparent !important;
}

// .bird-mode arcgis-time-slider [id$="-handle-1"] .esri-slider__thumb::after {
//   // content: "🦅";

//   // content: url("public/birdIcon3.svg");
//   content: "";

//   background-image: url("/public/birdIcon3.svg");
//   font-family: "Segoe UI Symbol", sans-serif;
//   font-size: 25px;
//   font-weight: 1000;
//   color: #aed8cc;
//   position: absolute;
//   top: 0%;
//   left: 50%;
//   transform: translate(-50%, -50%) scaleX(-1);
//   text-shadow: 1px 1px 0 #233935;
//   background-color: #00000000 !important;
//   border-color: #00000000 !important;
// }

// [id$="-handle-1"] .esri-slider__thumb {
//   background-color: #aed8cc !important;
//   border-color: #00000000 !important;
// }
